*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: inline-block;
    position: relative;
    top: 200px;
    left: 200px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: green;
    position: relative;
    animation: first 3s linear 1s infinite alternate;
  }
  
  @keyframes first {
    0%   {  transform: scale(0.5);
    }
    50%  {  transform: scale(1);
    }
    100% { transform: scale(0.5);
    }
  }

   .div {
    display: inline-block;
    position: relative;
    top: 200px;
    left: 700px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
    animation: myfirst 3s linear 1s infinite alternate;
  }
  
  @keyframes myfirst {
    0%   {background-color:red;   transform: scale(0.5);
    }
    25%  {background-color:yellow;  transform: scale(1);
    }
    50%  {background-color:blue;  transform: scale(1.5);
    }
    75%  {background-color:green;  transform: scale(1);
    }
    100% {background-color:red;  transform: scale(0.5);
    }
  }